@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

img {
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
}

header {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  margin-bottom: 20px;
}

nav {
  padding: 30px;
  border-right: 1px solid #ddd;
  line-height: 2em;
}

img {
  box-shadow: 0 20px 25px -5px rgba(0 0 0 / 0.1),
    0 10px 10px -5px rgba(0 0 0 / 0.04);
}

article {
  padding: 30px;
}

article h2 {
  font-size: 3.5rem;
  text-align: center;
}

article p {
  margin-top: 30px;
  line-height: 2em;
  color: #777;
}

aside {
  padding: 30px;
  border-left: 1px solid #ddd;
  line-height: 2em;
}

footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }

  nav li {
    display: inline-block;
    margin-right: 10px;
  }
}
