@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}


.grid-container {
    display:grid;
    
}