@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* margin: 20px; */
  background: #f7f7f7;
}

img {
  max-width: 100%;
  
}

header {
  background: #fff;
  padding: 20px;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
}

nav a {
  color: #333;
}

nav h1 {
  text-transform: uppercase;
  line-height: 1em;
}

nav h1 div:first-child {
  font-weight: 800;
  letter-spacing: 3px;
}

nav h1 div:last-child {
  font-weight: 400;
}

/* Main Content */

main {
  display: grid;
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 30px;
}

main div {
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  border: 10px solid #fff;
  box-shadow: 0 20px 25px -5px rgba(0 0 0 / 0.1),
    0 10px 10px -5px rgba(0 0 0 / 0.04);
}

main img {
  object-fit: cover;
  height: 100%;
}

main .short {
  grid-row: span 1;
}

main .tall {
  grid-row: span 2;
}

@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-top: 20px;
  }
  nav {
    grid-template-columns: repeat(4, 1fr);
  }
  nav h1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}
